body {
    font-family: 'Times New Roman', Times, serif;
    background: #000000;
    padding: 60px;
  }

  .mifoto {
    display: block;  /* fuerza que la imagen esté en su propia línea */
    margin-top: 20px; /* espacio arriba de la imagen */
    max-width: var(--imagen-ancho, 300px);
    height: auto;
    margin: 0 auto;
  }
  
  a {
    display: inline-block; /* asegura que el link no se mezcle raro */
    margin-top: 5px;
    font-size: 20px;
  }
  p {
    color: white;
    font-size: 20px;
  }
  
  .resaltado {
    color: #4CAF50;      /* verde */
    font-weight: bold;    /* negrita */
  }


  .rainbow {
  font-weight: bold;
  color: red;
  animation: colorCycle 2s linear infinite;
}

  @keyframes colorCycle {
  0%   { color: red; }
  16%  { color: orange; }
  33%  { color: yellow; }
  50%  { color: lime; }
  66%  { color: cyan; }
  83%  { color: blue; }
  100% { color: violet; }
  }
  
  figcaption {
    color: white; /* cambia el color del texto */
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .social-link {
  color: white;
  text-decoration: none; /* quita el subrayado */
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}


.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.grande {
  font-size: 24px; /* o 2rem */
}
